[Socket]
ListenStream=/tmp/CertSocket
SocketUser=system
SocketGroup=system
SocketMode=0777

Service=cert-server.service

[Install]
WantedBy=sockets.target
