[Socket]
ListenStream=/tmp/CertSocket
SocketUser=security_fw
SocketGroup=security_fw
SocketMode=0777

Service=cert-server.service

[Install]
WantedBy=sockets.target
