[Unit]
Description=Start cert server for cert-svc managing root ssl certs

[Service]
ExecStart=/usr/bin/cert-server
User=system
Group=system
Sockets=cert-server.socket

[Install]
WantedBy=multi-user.target
